In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.2.3-py3-none-any.whl.metadata (2.7 kB)
Downloading XlsxWriter-3.2.3-py3-none-any.whl (169 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.4/169.4 kB 2.8 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.3

In [46]:
import polars as pl
import xlsxwriter
import pandas as pd

In [27]:
boletim = pl.read_csv('boletim.csv', separator=';')
display(boletim.head(6))

shape: (6, 5)
┌────────────┬───────┬───────┬───────┬───────┐
│ Disciplina ┆ nota1 ┆ nota2 ┆ nota3 ┆ nota4 │
│ ---        ┆ ---   ┆ ---   ┆ ---   ┆ ---   │
│ str        ┆ i64   ┆ i64   ┆ i64   ┆ i64   │
╞════════════╪═══════╪═══════╪═══════╪═══════╡
│ matemática ┆ 8     ┆ 9     ┆ 8     ┆ 5     │
│ portugues  ┆ 5     ┆ 6     ┆ 7     ┆ 7     │
│ ingles     ┆ 7     ┆ 8     ┆ 8     ┆ 5     │
│ geografica ┆ 5     ┆ 5     ┆ 7     ┆ 7     │
│ quimica    ┆ 8     ┆ 7     ┆ 6     ┆ 5     │
│ biologia   ┆ 6     ┆ 5     ┆ 8     ┆ 7     │
└────────────┴───────┴───────┴───────┴───────┘

In [ ]:
boletim = boletim.with_columns(
    (pl.col('nota1') + pl.col('nota2') + pl.col('nota3') + pl.col('nota4')).alias('Total'),
    (pl.col('Total') / 4).alias('Média')
)
display(boletim.head(6))

shape: (6, 7)
┌────────────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ Disciplina ┆ nota1 ┆ nota2 ┆ nota3 ┆ nota4 ┆ Total ┆ Média │
│ ---        ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ ---   │
│ str        ┆ i64   ┆ i64   ┆ i64   ┆ i64   ┆ i64   ┆ f64   │
╞════════════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ matemática ┆ 8     ┆ 9     ┆ 8     ┆ 5     ┆ 30    ┆ 7.5   │
│ portugues  ┆ 5     ┆ 6     ┆ 7     ┆ 7     ┆ 25    ┆ 6.25  │
│ ingles     ┆ 7     ┆ 8     ┆ 8     ┆ 5     ┆ 28    ┆ 7.0   │
│ geografica ┆ 5     ┆ 5     ┆ 7     ┆ 7     ┆ 24    ┆ 6.0   │
│ quimica    ┆ 8     ┆ 7     ┆ 6     ┆ 5     ┆ 26    ┆ 6.5   │
│ biologia   ┆ 6     ┆ 5     ┆ 8     ┆ 7     ┆ 26    ┆ 6.5   │
└────────────┴───────┴───────┴───────┴───────┴───────┴───────┘

In [ ]:
boletim = boletim.with_columns(
    pl.when(pl.col('Média') >= 7)
    .then(pl.lit('Aprovado'))
    .otherwise(pl.lit('Reprovado'))
    .alias('Situação')
)
display(boletim.head(6))

shape: (6, 8)
┌────────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────────┐
│ Disciplina ┆ nota1 ┆ nota2 ┆ nota3 ┆ nota4 ┆ Total ┆ Média ┆ Situação  │
│ ---        ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ ---       │
│ str        ┆ i64   ┆ i64   ┆ i64   ┆ i64   ┆ i64   ┆ f64   ┆ str       │
╞════════════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════════╡
│ matemática ┆ 8     ┆ 9     ┆ 8     ┆ 5     ┆ 30    ┆ 7.5   ┆ Aprovado  │
│ portugues  ┆ 5     ┆ 6     ┆ 7     ┆ 7     ┆ 25    ┆ 6.25  ┆ Reprovado │
│ ingles     ┆ 7     ┆ 8     ┆ 8     ┆ 5     ┆ 28    ┆ 7.0   ┆ Aprovado  │
│ geografica ┆ 5     ┆ 5     ┆ 7     ┆ 7     ┆ 24    ┆ 6.0   ┆ Reprovado │
│ quimica    ┆ 8     ┆ 7     ┆ 6     ┆ 5     ┆ 26    ┆ 6.5   ┆ Reprovado │
│ biologia   ┆ 6     ┆ 5     ┆ 8     ┆ 7     ┆ 26    ┆ 6.5   ┆ Reprovado │
└────────────┴───────┴───────┴───────┴───────┴───────┴───────┴───────────┘

In [ ]:
# Use pl.write_excel to export to Excel
boletim.write_excel('boletim.xlsx', include_header=True)

In [47]:
vendas = pd.read_csv('baseaula2.csv', separator=';')
print(vendas.columns)

TypeError: read_csv() got an unexpected keyword argument 'separator'

In [45]:
# Converter Data da Coleta para date
vendas['Data_Pedido'] = pd.to_datetime(vendas['Data_Pedido'], format='%d/%m/%Y')

#Converter valoor de venda para float
vendas['Valor de Venda'] = vendas['Valor de Venda'].str.replace(',', '.').astype(float)

InvalidOperationError: conversion from `str` to `datetime[μs]` failed in column 'Data_Pedido' for 1592 out of 1592 values: ["2012-07-31 00:00:00.000000", "2013-02-05 00:00:00.000000", … "2012-08-09 00:00:00.000000"]

You might want to try:
- setting `strict=False` to set values that cannot be converted to `null`
- using `str.strptime`, `str.to_date`, or `str.to_datetime` and providing a format string

In [ ]:
display(vendas.head(51291))

In [ ]:
#Pergunta 1 - Qual o valor total vendido?